{% extends 'base.html.twig' %}

{% block title %}lib livre | accueil{% endblock %}

{% block body %}
<header class="Header">
{% include "./components/navbar/navbar.html.twig" %}
{% include "./components/slider/slider.html.twig" %}
{% include "./components/navbar/homeMenu.html.twig" %}
</header>
<main class="main-content">
    <div class="container">
        <h1 class="h4 mb-4 dm-font">Nos sélections thématiques</h1>
        {% include "./components/slider/slider-lib.html.twig" %}
        <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="h4 dm-font">Dernières parutions</h2>
        <a href="/boutique" class="btn btn-outline-success">voir tout</a>
        </div>
        {% include "./components/livres/livre-item.html.twig" %}
    </div>
</main>
{% include "./components/footer/footer.html.twig" %}
{% endblock %}
