<section class="d-flex flex flex-column">
    <article class="card-item mb-3 d-flex">
        <figure class="card-figure">
            <img src="https://www.lalibrairie.com/cache/img/livres/909/9782355849909-xs.webp" alt="Image de couverture">
        </figure>
        <div class="card-item-content">
            <h3 class="h5 fw-bold dm-font">Titre du livre <span class="h6 fw-light fst-italic">de nom de l'auteur</span></h3>
            <p class="card-item-description mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui laudantium minima eius perspiciatis sint fuga accusamus ullam optio quos aperiam laboriosam asperiores totam obcaecati, sed iure. Praesentium, nam corrupti!
                Aliquam inventore nemo natus alias delectus culpa assumenda ipsam vel est? Iusto qui molestias explicabo ab eveniet placeat veritatis deserunt alias, blanditiis nesciunt ea ut quis quos, odio, nihil porro?
            </p>
            <a href="/single" class="btn bg-vert">Voir plus</a>
        </div>
    </article>

        <article class="card-item mb-3 d-flex">
        <figure class="card-figure">
            <img src="https://www.lalibrairie.com/cache/img/livres/909/9782355849909-xs.webp" alt="Image de couverture">
        </figure>
        <div class="card-item-content">
            <h3 class="h5 fw-bold dm-font">Titre du livre <span class="h6 fw-light fst-italic">de nom de l'auteur</span></h3>
            <p class="card-item-description mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui laudantium minima eius perspiciatis sint fuga accusamus ullam optio quos aperiam laboriosam asperiores totam obcaecati, sed iure. Praesentium, nam corrupti!
                Aliquam inventore nemo natus alias delectus culpa assumenda ipsam vel est? Iusto qui molestias explicabo ab eveniet placeat veritatis deserunt alias, blanditiis nesciunt ea ut quis quos, odio, nihil porro?
            </p>
            <a href="#" class="btn bg-vert">Voir plus</a>
        </div>
    </article>

        <article class="card-item mb-3 d-flex">
        <figure class="card-figure">
            <img src="https://www.lalibrairie.com/cache/img/livres/909/9782355849909-xs.webp" alt="Image de couverture">
        </figure>
        <div class="card-item-content">
            <h3 class="h5 fw-bold dm-font">Titre du livre <span class="h6 fw-light fst-italic">de nom de l'auteur</span></h3>
            <p class="card-item-description mb-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui laudantium minima eius perspiciatis sint fuga accusamus ullam optio quos aperiam laboriosam asperiores totam obcaecati, sed iure. Praesentium, nam corrupti!
                Aliquam inventore nemo natus alias delectus culpa assumenda ipsam vel est? Iusto qui molestias explicabo ab eveniet placeat veritatis deserunt alias, blanditiis nesciunt ea ut quis quos, odio, nihil porro?
            </p>
            <a href="#" class="btn bg-vert">Voir plus</a>
        </div>
    </article>
</section>