<section class="second-nav">
    <div class="container d-flex justify-content-center p-3">
            <a href="#" class="btn btn-vert">Livres en français</a>    
            <a href="#" class="btn btn-vert">Livres en VO</a>    
            <a href="#" class="btn btn-vert">conseils de nos libraires</a>    
            <a href="#" class="btn btn-vert">nos meilleurs ventes</a>    
    </div>
</section>