.info-item {
    gap: 15px;
}

.imageSingle {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation .pagination{
    align-items: center;
}

.navigation .pagination span {
    margin-right: 20%;
}

.navigation .pagination span.current{
    padding: 4px 12px;
    border-radius: 10px;
    border-color: black;
    border: 1px solid;
}

.navigation .pagination span.page a{
    margin-right: 20%;
    background-color: #23645E;
    color: white;
    padding: 4px 12px;
    border-radius: 10px;
    text-decoration: none;
}

.buttonDiv{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 45%;
}



@media screen and (max-width:767px) {
    .bookingsDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    

    .buttonDiv{
        justify-content: center;
    }
}