#myCarousel{
    padding: 2rem;
    background: #00211e;
    .carousel-item{
        .container{
            padding: 6rem;
            background: #00211e;
            h1{
                font-family: 'DM Serif Display', serif;
            }
        }
    }
}
