<section class="d-flex overflow-auto mb-4">
    {% for category in categories %}
    <article class="card-lib">
        <figure>
            <img src="https://www.lalibrairie.com/cache/img/selections/prod-1573-xs.webp" alt="séléction 1">
        </figure>
        <div>
            <a class="card-lib-link" href="#">{{category.name}}</a>
        </div>
    </article>
    {% endfor %}
</section>
