<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption text-center">
            <h1>La librairie en ligne qui défend les libraires indépendants</h1>
            <p>Nous prenons le parti de vous proposer un mode de consommation respectueux et durable, au sein duquel chaque acteur contribue à maintenir l’écosystème du livre.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption text-center">
            <h1>La librairie en ligne qui défend les libraires indépendants</h1>
            <p>Vivez l'expérience lalibrairie.com, qui défend une "économie" locale du livre.
                Une véritable librairie de quartier mais avec les services des grandes enseignes qui tient dans votre smartphone.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption text-center">
            <h1>La librairie en ligne qui défend les libraires indépendants</h1>
            <p>Nous prônons un nouveau mode de distribution alternatif aux circuits traditionnels tout en protégeant votre librairie de proximité.
                Aucun frais de port garanti si vous retirez votre livre dans la librairie au coin de votre rue.
                Les librairies locales sont le cœur de ce réseau, alors maintenons ces lieux d'échanges et de conseils.
            </p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" spellcheck="false">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Suivant</span>
    </button>
  </div>