<section class="d-flex justify-content-aroundr mb-5">
    <article class="card-lib">
        <figure>
            <img src="https://www.lalibrairie.com/cache/img/selections/prod-1573-xs.webp" alt="séléction 1">
        </figure>
        <div>
        <a class="card-lib-link" href="#">Séléction Romantique</a>
        </div>
    </article>
    <article class="card-lib">
        <figure>
            <img src="https://www.lalibrairie.com/cache/img/selections/prod-1566-xs.webp" alt="séléction 1">
        </figure>
        <div>
        <a class="card-lib-link" href="#">Séléction Aventure & découverte</a>
        </div>
    </article>
</section>