.card-lib{
    max-width: 200px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 15px;
    figure{
        max-width: 200px;
        max-height: 200px;
    }

    .card-lib-link{
        text-decoration: none;
        color: #424242;
        font-weight: 600;
    }
}
.card-item{
    background: white;
    padding: 15px;
    border-radius: 8px;
}
.card-item-content{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.imageItem{
    width: 200px;
    height: 200px;
    object-fit: contain;
}