{% extends 'base.html.twig' %}

{% block title %}Erreur client : c'est de votre faute !!!{% endblock %}

{% block body %}
<header class="Header">
{% include "./components/navbar/navbar.html.twig" %}
{# {% include "./components/slider/slider.html.twig" %} #}
{% include "./components/navbar/homeMenu.html.twig" %}
</header>
<main class="main-content-error flex-grow-1">
    <div class="container">
        zute
    </div>
</main>
{% include "./components/footer/footer.html.twig" %}
{% endblock %}
